

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    user-select: none;
    background: #ecf0f3;
}

.container {
    margin-left: 1.8em;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 13px 13px 20px #cbced1,
        -13px -13px 20px #ffffff;
}


.content {
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row button {
    width: 60px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    transition: .1s;
    /* box-shadow: 5px 5px 8px #00000020,
        -5px -5px 8px #ffff; */
}


.display #screen {
    margin-bottom: .5em;
    width: auto;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #ecf0f3;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1,
        inset -8px -8px 8px #ffffff;
}

#eval {
    background: #33ccff;
    color: #fff;
    box-shadow: inset 5px 5px 8px #66d9ff,
        inset -5px -5px 8px #00ace6;
}

#eval:hover {
    box-shadow: inset 5px 5px 8px #00ace6,
        inset -5px -5px 8px #00ace6;
}

#ac {
    background: #33cc33;
    color: #fff;
}

#ac:hover {
    box-shadow: inset 5px 5px 8px #2eb82e,
        inset -5px -5px 8px #33cc33;
}

#ce {
    background: #ff3399;
    color: #fff;
}

#ce:hover {
    box-shadow: inset 5px 5px 8px #e60073,
        inset -5px -5px 8px #ff3399;
}
 

/* toggler */

.calculator {
    position: relative;
    height: auto;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
    padding: 60px;
}


.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: #333;
}

.theme-toggler.active::before {
    background-color: #fff;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}


/* light theme */

.calculator {
    background-color: #fff;
}

.calculator #display {
    color: #0a1e23;
}

.calculator button#clear {
    background-color: #ffd5d8;
    color: #fc4552;
}

.calculator button.btn-number {
    background-color: #c3eaff;
    color: #000000;
}

.calculator button.btn-operator {
    background-color: #ffd0fb;
    color: #f967f3;
  }
  
  .calculator button.btn-equal {
    background-color: #adf9e7;
    color: #000;
  }

  .row button:hover {
    box-shadow: inset 5px 5px 8px #d0dce0,
        inset -5px -5px 8px #d0dce0;
    background: #fff;
}

  /* dark theme */

  .calculator.dark {
    background-color: #071115;
  }

  .calculator.dark #display {
    color: #f8fafb;
  }
  .row button:hover {
    box-shadow: inset 5px 5px 8px #d0dce0,
        inset -5px -5px 8px #d0dce0;
    
}

  .calculator.dark button#clear {
    background-color: #2d191e;
    color: #bd3740;
  }

  .calculator.dark button.btn-number {
    background-color: #1b2f38;
    color: #f8fafb;
  }

  .calculator.dark button.btn-operator {
    background-color: #2e1f39;
    color: #aa00a4;
  }
  
  .calculator.dark button.btn-equal {
    background-color: #223323;
    color: #ffffff;
  }